<!DOCTYPE html>
<html lang="en" class="wormhole-theme">
<head>
    @@include('head.html')
    <title>Worm–Hole Design System</title>
</head>
<body class="page" data-page="components/actions/content-switcher" data-header-selected="components">

    <div class="layout">

        <!-- HEADER -->
        @@include('header.html')

        <!-- SECTION -->
        <section>

            <!-- SIDEBAR -->
            @@include('sidebar-components.html')

            <!-- CONTENT -->
            <article>

                <h2>#SectionTitle</h2>

            </article>
        </section>

    </div>

    <!-- SCRIPTS -->
    @@include('bottom_scripts.html')

</body>
</html>