<!DOCTYPE html>
<html lang="en" class="wormhole-theme">
<head>
    @@include('head.html')
    <title>Worm–Hole Design System</title>
</head>
<body class="page" data-page="components/content/tables" data-header-selected="components">

    <div class="layout">

        <!-- HEADER -->
        @@include('header.html')

        <!-- SECTION -->
        <section>

            <!-- SIDEBAR -->
            @@include('sidebar-components.html')

            <!-- CONTENT -->
            <article>

                <h1>Tables</h1>
                <p>Example of tables implementation.</p>

                <h2>Usage</h2>

                - Tabla comun con headers y filas odd/even
                - Filas seleccionables


            </article>
        </section>

    </div>

    <!-- SCRIPTS -->
    @@include('bottom_scripts.html')

</body>
</html>