<!DOCTYPE html>
<html lang="en" class="wormhole-theme">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worm–Hole Design System</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body class="page" data-page="components/getting-started/installation" data-header-selected="components">

    <div class="layout">

        <!-- HEADER -->
        <header class="header" data-include="/templates/header.html"></header>

        <!-- SECTION -->
        <section>

            <!-- SIDEBAR -->
            <aside class="sidebar" data-include="/templates/sidebar-components.html"></aside>

            <!-- CONTENT -->
            <article>

                <h1>Installation</h1>
                <p>Description</p>

                <h3>Usage</h3>

                <div class="component-example">

                    <ul class="component-example-tabs">
                        <li class="result active">Result</li>
                        <li class="code">Code</li>
                    </ul>
                    
                    <div class="component-example-result active">
                        
                    </div>

                    <div class="component-example-code">
                        <pre>
                            <code></code>
                        </pre>
                    </div>
                    
                </div>

                <h3>Properties</h3>

                <div class="component-option">
                    <dl>
                        <dt>checked</dt>
                        <dd>
                            <span>Type:</span>
                            <code>boolean</code>
                        </dd>
                        <dd>
                            <span>Default:</span>
                            <code>false</code>
                        </dd>
                    </dl>
                    <p>Set checkbox <code>checked</code> state.</p>
                </div>

                <div class="component-option">
                    <dl>
                        <dt>disabled</dt>
                        <dd>
                            <span>Type:</span>
                            <code>boolean</code>
                        </dd>
                        <dd>
                            <span>Default:</span>
                            <code>false</code>
                        </dd>
                    </dl>
                    <p>Set checkbox <code>disabled</code> state.</p>
                </div>


            </article>
        </section>

    </div>

    <!-- PAGE SCRIPTS -->
    <script src="/assets/vendor/csi.js/csi.min.js"></script>
    <script>

    </script>

</body>
</html>