<!DOCTYPE html>
<html lang="en" class="wormhole-theme">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worm–Hole Design System</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body class="page" data-page="components/actions/button" data-header-selected="components">

    <div class="layout">

        <!-- HEADER -->
        <header class="header" data-include="/templates/header.html"></header>

        <!-- SECTION -->
        <section>

            <!-- SIDEBAR -->
            <aside class="sidebar" data-include="/templates/sidebar-components.html"></aside>

            <!-- CONTENT -->
            <article>

                <h2>#SectionTitle</h2>

            </article>
        </section>

    </div>

    <!-- PAGE SCRIPTS -->
    <script src="/assets/vendor/csi.js/csi.min.js"></script>
    <script>
        // Init page

    </script>

</body>
</html>