/*
 * Fonts
*/
@import url('https://p.typekit.net/p.css?s=1&k=xhv4oil&ht=tk&f=13375.27992.34663.34664.34667.34668.34669.34670&a=21433994&app=typekit&e=css');
@font-face {
    font-family:'Halyard Display';
    src:url(https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/l?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n4&v=3) format('woff2'),
    url(https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/d?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n4&v=3) format('woff'),
    url(https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/a?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n4&v=3) format('opentype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'Halyard Display';
    src:url(https://use.typekit.net/af/6780d0/00000000000000007735adc6/30/l?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n6&v=3) format('woff2'),
    url(https://use.typekit.net/af/6780d0/00000000000000007735adc6/30/d?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n6&v=3) format('woff'),
    url(https://use.typekit.net/af/6780d0/00000000000000007735adc6/30/a?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n6&v=3) format('opentype');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'Halyard Display';
    src:url(https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/l?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n7&v=3) format('woff2'),
    url(https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/d?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n7&v=3) format('woff'),
    url(https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/a?primer=057d1dff47772f391f5f6c189aa213bb70116047eaffac2e52d3626ff163c8d1&fvd=n7&v=3) format('opentype');
    font-weight:bold;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'Paralucent';
    src:url(https://use.typekit.net/af/302a59/00000000000000007735f0cd/30/l?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3) format('woff2'),
    url(https://use.typekit.net/af/302a59/00000000000000007735f0cd/30/d?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3) format('woff'),
    url(https://use.typekit.net/af/302a59/00000000000000007735f0cd/30/a?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3) format('opentype');
    font-weight:bold;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family:'OCR A Std';
    src:url(https://use.typekit.net/af/3315df/000000000000000000012e5c/27/l?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3) format('woff2'),
    url(https://use.typekit.net/af/3315df/000000000000000000012e5c/27/d?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3) format('woff'),
    url(https://use.typekit.net/af/3315df/000000000000000000012e5c/27/a?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3) format('opentype');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}