<!DOCTYPE html>
<html lang="en" class="wormhole-theme">
<head>
    @@include('head.html')
    <title>Worm–Hole Design System</title>
</head>
<body class="page" data-header-selected="components">

    <div class="layout">

        <!-- HEADER -->
        @@include('header.html')

        <!-- SECTION -->
        <section>

            <!-- SIDEBAR -->
            @@include('sidebar-components.html')

            <!-- CONTENT -->
            <article>

                <h2>Redirecting to page...</h2>

            </article>
        </section>

    </div>

    <!-- SCRIPTS -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            window.location.pathname = "/components/actions/button/"
        });
      </script>

</body>
</html>